.hero{
    padding: 2rem 0;
    position: relative;

    &__container{
        margin: 0 auto;
    }

    &__title{
        padding: 0 1rem;
        margin: 0 0 2rem;
    }

    &__desc{
        padding: 0 1rem;
    }

    &__background{
        background:  $gradient-secondary;
        background-blend-mode: multiply;
        background-size: 110%;
        background-repeat: no-repeat;
        width: calc(100% + 1rem);
        height: 24rem;
        object-fit: cover;
        filter: blur(3px);
        position: absolute;
        top: -1rem;
        left: -1rem;
        z-index: -1;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
    }

    &__img{
        position: absolute;
        transform: translateY(-32px);
        filter: blur(1px);
        // transform: scale(2);
        max-width: 100%;
        z-index: -2;
        opacity: 0.25;
    }

    @media #{$med}{
        &__container{
            margin: 3rem auto 0;
            max-width: $container-width-small;
            display: flex;
            justify-content: space-between;
        }

        &__title{
            margin-top: -.75rem;
        }

        &__desc{
            margin-top: -.4rem;
        }
    }

    @media #{$lrg}{
        &__container{
            margin: 4rem auto 0;
            max-width: $container-width-large;
        }

        &__title, &__desc{
            flex: 30%;
        }

        &__title{
            margin-top: -.75rem;

            font-size: 6rem;
            line-height: 6.5rem;
        }

        &__desc{
            margin-top: 0;
        }

        &__background{
            height: 28rem;
        }
    }
}

.hero-desc{
    &__body{
        font-weight: 500;
    }

    &__link{
        text-decoration: $color-primary wavy underline;
    }
}