.type{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    margin: 0 0 3rem;

    padding: 0 1rem;


    &__icon{
        display: block;
        width: auto;
        max-width: 1.5rem;
        height: auto;
        margin: 0.5rem 2.2rem 0 0;
        fill-opacity: 0.8;
    }

    .svg-inline--fa{
        width: auto;
    }

    &__desc{
        grid-column: 2/3;
    }

    @media #{$med}{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        flex: 50%;

        &__icon{
            max-width: 2rem;
            height: auto;
            margin: .35rem 1rem 0 auto;
            fill-opacity: 0.75;
        }
    }
}