.course-preview{

    &__img{
        width: 100%;
        height: auto;
        @include shadow(flat);
    }

    &__video{
        margin-bottom: 4rem;
        iframe{
            width: 100%;
            height: 14rem;
            @include shadow(btn);
        }
    }

    @media #{$med}{
        margin: 8rem auto;

        &__title{
            position: sticky;
            top: 2rem;
        }

        &__video{
            margin-bottom: 4rem;
        }
    }

    @media #{$lrg}{
        margin: 12rem auto;

        &__title{
            top: 4rem;
        }

        &__video{
            margin-bottom: 6rem;
        }
    }
}

.video{
    position: relative;

    &__number{
        background: $gradient-secondary;
        display: block;
        position: absolute;
        top: -1rem;
        right: -1rem;
        z-index: 3;
        padding: .375rem .4rem;
        font-family: $font-family-heading;
        letter-spacing: .1em;
        font-size: 1.667rem;
        line-height: 1;
        clip-path: $clip1;
    }

    &__video, &__img{
        margin-bottom: 1rem;
    }

    @media #{$lrg}{

        &__number{
            top: -1.375rem;
            right: -1.375rem;
            font-size: 2.4rem;
        }
    }
}