.btn {
    color: white;
    font-size: 1rem;
    font-family: $font-family-heading;
    display: block;
    text-align: center;
    line-height: 1;
    padding: 1em 1em 1.125em;
    text-decoration: none;
    background-image: gray;
    transition: all .3s ease-in-out;
    letter-spacing: .05em;
    
    @include shadow(btn);
    
    &:hover {
        background: lightgray;
    }
    
    &--big {
        font-size: 2rem;
    }
}