.form{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
    font-size: $font-size-base;


    &__group{
        font-size: $font-family-body;
        position: relative;
        flex: 100%;
        margin-bottom: 1rem;

        &--white{
            .form__input:focus + label {
                color: white
            }
        }
    }

    &__label{
        font-size: $font-size-small;
        font-family: $font-family-heading;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-weight: bold;
        position: absolute;
        z-index: 2;
        top: .7rem;
        left: 1rem;

        transition: all .15s ease-in-out;

    }

    &__input, &__submit{
        border-radius: .5rem;
    }

    &__input{
        font-size: $font-size-base;
        box-shadow: inset 0 0 0 2px $color-primary,
                    inset 0 1px 1px 3px rgba(0,0,0,0.12);
        border: none;
        padding: .75rem .5rem;
        width: 100%;
        max-width: 20rem;
        height: 100%;
    }

    &__input:focus + label, &__input.has-value + label{
        top: -1.7em;
        left: 0.325rem;
        font-size: .75rem;
        letter-spacing: .2em;
    }

    &__submit{
        background: $gradient-primary;
        font-family: $font-family-heading;
        font-size: $font-size-base;
        color: white;
        letter-spacing: .05em;
        border: 0;
        padding: .75rem 1.5rem .825rem;
        cursor: pointer;

        @include shadow('btn');
    }

    &__msg-container{
        flex: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    &__msg{
        color: white;
        display: inline-block;
        font-family: $font-family-heading;
        letter-spacing: .1em;
        padding: .35em .5em;
        line-height: 1;
        clip-path: polygon(0 0, $clip-angle-inv 0, 100% 100%, $clip-angle 100%);
        animation: fadeIn map-get($transition-duration, short) ease-in-out;

        display: none;

        &--success{
            background: $color-success;
        }

        &--error{
            background: $color-error;
        }
    }

    @media #{$med}{
        align-items: flex-end;

        &__group{
            flex: 1;
            margin-bottom: 0;
            max-width: 100%;
        }

        &__input{
            max-width: 100%;
        }

        &__submit{
            margin-left: 1rem;
        }
    }

}