.hr{
    border: none;
    height: 6px;
    background: $gradient-secondary;
    max-width: 30%;
    margin: 4rem auto 4rem 0;
    clip-path: polygon(0 0, $clip-angle-inv 0, 100% 100%, 0 100%);

    &--right{
        margin: 4rem 0 4rem auto;
        clip-path: polygon(0 0, 100% 0, 100% 100%, $clip-angle 100%);
    }

    &--center{
        margin: 2rem auto 4rem;
        max-width: 4rem;
    }

    &--small{
        display: block;
        height: 2px;
        background: $gradient-secondary;
        clip-path: none;
    }

    @media #{$med}{
        height: 8px;
        margin: 6rem auto 6rem 0;

        &--right{
            margin: 6rem 0 6rem auto;
        }

        &--small{
            height: 2px;
            margin: 2rem auto 0;
            max-width: 40%;
        }

    }

    @media #{$lrg}{
        margin: 8rem auto 8.25rem 0;

        &--right{
            margin: 8rem 0 8.25rem auto;
        }

        &--small{
            margin: 6.5rem auto 0;
            width: 60%;
        }
    }
}