.section {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: $container-width-small;
    &--alt {
        padding: 2rem 0;
    }
    
    @media #{$med} {
    }
    
    @media #{$lrg} {
        max-width: $container-width-large;
    }

    &--grid{
        @media #{$med} {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: row wrap;
        }
    }
}

.col{
    @media #{$med}{
        flex: 50%;
        max-width: 50%;
        &--1{
            padding-right: 2rem;
        }
        &--full{
            flex: 100%;
        }
    }

    @media #{$lrg}{
        &--1{
            padding-right: 6rem;
        }
    }
}